body{
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    height: 99vh;
    width: 98vw;
    margin: 1vh auto;
    overflow: hidden;
  }

  #Timeline{
    background-color: white;
      margin: 1vh 0;
      border: 1px solid black;
      padding: 1rem;;
      overflow: auto;
  }
  #top{
      display: flex;
  }
  /* Top Box */
  #Station{
      background-color: white;
      margin-right: 0.5vh;
      border: 1px solid black;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  #form{
    margin: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  #form input, #form select{
    height: 2rem;
    margin: 0.25rem 0;
  }
  #bottom{
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  #StationInfo, #StationNotification{
    margin: 1rem;
    flex: 1; 
    overflow: auto;
  }

button{
    margin: 2vh 0;
}
  
  /* Bottom Box */
  #Additional{
    background-color: white;
      margin-left: 0.5vh;
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }
  #map{
    margin: 1rem;
    flex: 1; 
  }